@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --clr--background: #e5989b;
    --clr--background--secondary: #b5838d;
    --clr--text--100: #fff;
    --clr--text--500: #6d6875;
    --clr--text--900: #4a5759;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--clr--background);
}

::-webkit-scrollbar-button {
    background-color: var(--clr--background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr--text--500);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr--text--900);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--clr--background);
    color: var(--clr--text--900);
}

.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}

.main-header span {
    color: var(--clr--text--100);
}

.main-header .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-header a {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    background-color: var(--clr--text--900);
    border-radius: 10px;
    color: var(--clr--text--100);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.5s;
}

.main-header a:hover {
    background-color: var(--clr--text--500);
}

.main-header a:active {
    transform: scale(1.1);
}

main {
    margin: 2rem 5rem;
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction h1 {
    font-size: 2.5rem;
    width: 50%;
}

.introduction span {
    color: var(--clr--text--100);
}

.facts {
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: var(--clr--background--secondary);
    border-radius: 10px;
    height: 700px;
    color: var(--clr--text--100);
}

.facts-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.facts-header .select-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.facts-header .select select {
    appearance: none;
    outline: 10px transparent;
    border: 0;
    box-shadow: none;

    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--clr--background);
    background-image: none;
    cursor: pointer;
}

.facts-header .select {
    position: relative;
    display: flex;
    width: 10em;
    height: 2em;
    border-radius: .25em;
    overflow: hidden;
}

.facts-header .select::after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
    transition: .25s all ease;
    pointer-events: none;
    margin-right: 8px;
    margin-top: 6px;
}

.facts-header .select:hover::after {
    color: var(--clr--background--secondary);
}

.facts-header .random-fact {
    display: flex;
    gap: 1rem;
}

.facts-header .random-fact #randomize {
    background-color: var(--clr--text--500);
    appearance: none;
    outline: 10px transparent;
    border: 0;
    box-shadow: none;
    color: var(--clr--text--100);
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.facts-header .random-fact #randomize:hover {
    background-color: var(--clr--text--900);
}

.facts-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
    overflow: scroll;
    height: 600px;
}

.facts-container::-webkit-scrollbar, .facts-container::-webkit-scrollbar-button, .facts-container::-webkit-scrollbar-thumbs {
    background-color: transparent;
    width: 0px;
}

.facts-container .fact {
    font-weight: bold;
    width: 100%;
    background-color: var(--clr--background);
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.5;
    animation: fall 0.2s ease-in-out;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
}

footer a {
    color: var(--clr--text--500);
    text-decoration: underline;
}
